.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 87%;
    justify-content: center;
    margin: auto;
    padding: 1%;
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    margin-top: 80px;
  }

.one,.two,.three,.four,.five,.six{
  background: linear-gradient(90deg, rgb(45, 44, 44) 0%, rgb(60, 54, 54) 100%);
  padding: 5%;
  border-radius: 15px;
  font-family: 'Ludica Console', monospace;
  color: white;
}
.information-overivew-section{
  margin-top: 50px;
}

.degree-overview-section, .degree-point-two{
  margin-top: 30px;
}

.greek-life-point-one, .greek-life-point-two, .greek-life-point-three,
.ski-point-one,.ski-point-two,.ski-point-three{
  margin-top: 15px;
}

  .one {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3 / 5;
  }
  .five {
    grid-column: 2;
    grid-row: 3 / 5;
  }
