.second-header {
     color: rgb(0, 0, 0);
     background: rgba(254, 254, 254, 0.9);
     padding: 0.5px;
     width: 500px;
     margin: auto;
     border-radius: 15px;
     font-family: 'Ludica Console', monospace;
     justify-content: center;
     align-items: center;
     position: relative;
     text-align: center;
     margin-top: 40px;
     width: 800px;
 }

 