.all-text {
  font-family: 'Ludica Console', monospace;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.type-container {
  display: inline-block;
  font-weight: 200;
  margin: 200px 0px 0px 0px;
  font-size: 3em;
  justify-content: center;
  display: flex;
  object-fit: contain;
  width: 100%;
  color: rgb(0, 216, 255)
}
